@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');
@import url('../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Bitter');


*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: rgba(255,255,255,0) !important;
}

html {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-image: url("../images/caketasks-logo-4-200x200.png");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 10px;
}

@media only screen
  and (max-width: 768px) {
/*  .navbar-header {
    display: none;
  }
  .navbar {
    background-image: none;
  }*/
}

.navbar-default .navbar-brand {
  color: white;
  padding-left: 60px;
}

.navbar-default {
  background-color: #194759;
  border: none;
}

.navbar-brand {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

.navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-form .form-control {
  border: none;
  border-radius: 4px;
  box-shadow: none;
}

.navbar-form .btn-info {
  background-color: #3E8C84;
  border-color: #2B746B;
}

.navbar-form .btn-info:focus,
.navbar-form .btn-info.focus {
  background-color: #2B746B;
  border-color: #286D64;
}

.main {
  background: white;
}

/** Toolbar **/

.interface {
  display: flex;
  background: #D8F2F0;
}

.toolbar {
  background-color: #296B73;
  min-width: 200px;
  color: white;
  font-size: 1.1em;
  height: 100vh;
  padding-top: 10px;
}

@media only screen
  and (max-width: 768px) {
  .toolbar {
    min-width: 55px;
  }

}

.toolbar-item {
  cursor: pointer;
  padding: 10px 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.toolbar-item:hover {
  background-color: #133748;
}

.toolbar-item-button {
  margin-right:10px;
}

@media only screen and (max-width: 768px) {
  .toolbar-item-text {
    display: none;
  }

  .toolbar-item-button {
    font-size: 20px;
  }
}

/**  Interface Styles **/

.toolbar-addheading {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;          /* Likely future */
}

.appointments {
  margin-top: 15px;
}

.appointments .appointments-headline {
  margin-bottom: 10px;
  color: #174152;
}

.item-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 120%;
}

.item-list .media {
  margin-top: 0;
}

.item-list .task-item {
  padding: 10px;
}

.item-list .task-item:nth-child(2n) {
    background: rgba(255,255,255,.5);
    border-radius: 5px;
}

.item-list .task-item:last-child {
  border-bottom: none;
}

.item-list .task-item .task-delete, .item-list .task-item .task-edit {
  display: none;
  opacity: 0;
  transition: all 1s;
}


.item-list  .task-item:hover .task-delete, .item-list .task-item:hover .task-edit {
  display: block;
  opacity: 1;
}


.item-list .task-name {
  font-weight: bold;
  color: #296B73;
  font-size: 1.3em;
}
.item-list .task-notes {
  font-style: italic;
}

.item-list .label-item {
  font-weight: bold;
  color: #D03B3B;
  padding-right: 10px;
}

.item-list .task-date {
  font-style: italic;
}

.navbar > .container .navbar-brand:hover, .navbar > .container-fluid .navbar-brand:hover {
  color: white;
}

/******/
.wrapper {
    padding : 20px;
    margin-top : 20px;
}

/******/


h2.tasks-headline {
  padding: 10px 0 0 15px;
}

.input-group .form-control {
  float: right;
  width: 70%;
}

.item-list .task-item {
  padding-left: 15px;
}

.navbar:before, .container-fluid:before, .navbar-header:before {
  display: table-cell;
  content: " ";
}

.navbar-header:after {
  clear: right;
}

.navbar-form {}
    margin-bottom: 0px;
}

#page-info, #page-view {
  background:  rgba(255,255,255,0) !important;
  color: white;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  -webkit-app-region: drag;
  cursor: pointer;
}

#page-info a:link, #page-view a:link {
  color: #EEC856;
}


#page-info .info-content, #page-view .view-content{
  background: linear-gradient( 180deg,
    rgba(116, 167, 204, 1),
    rgba(38, 119, 178, 1));
  width: 90%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  border: 2px solid rgba(199, 92, 90, 1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  /*overflow:hidden;*/
}


#page-info .page-headline, #page-view .page-headline {
  font-size: 1.8em;
  color: #EEC856;
}

#page-info .close, #page-view .close {
  background: rgba(255,255,255,0);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #1F7668;
  font-size: 1em;
  padding: 0;
  position: relative;
  left: -30px;
  top: -30px;
  z-index: 20;
}

#page-info .close:focus, #page-info .close:hover, #page-view .close:focus, #page-view .close:hover {
  outline: none;
}

#page-info img, #page-view img {
  width: 100px;
  opacity: .8;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0px;
}
