@import url('../../node_modules/bootstrap/dist/css/bootstrap.css');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#page-info, #page-view {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: transparent;
  color: white;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: pointer;
}

#page-info a:link, #page-view a:link {
  color: #EEC856;
}

#page-info .info-content, #page-view .view-content {
  /* background: linear-gradient( 180deg, rgba(234, 192, 59, .75), rgba(24, 101, 85, .95)); */
  background: linear-gradient( 180deg, rgba(192, 192, 192, 1), rgba(45, 45, 45, 1));
  width: 90%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  align-self: center;
  border: 2px solid rgba(238, 122, 90, 1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  overflow:hidden;
}

#page-info .page-headline, #page-view .page-headline {
  font-size: 1.8em;
  margin: 0;
  padding: 0;
  color: #EEC856;
}

#page-info img, #page-view img {
  width: 100px;
  opacity: .8;
}

.slider-selection { 
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image: -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
}
